aiohttp
awslambdaric
click
fsspec
h5netcdf
netcdf4
odc-cloud
git+https://github.com/opendatacube/odc-geo.git  # TODO: remove this once odc-geo is released
pystac
rasterio
requests
rio-stac
s3path
xarray

--no-binary rasterio
